body{
    background-color: whitesmoke;
}
.container-fluid{
    text-align: center;
    padding: 0;
}
#slider-container{
    height: 350px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{
    height: 350px;
    margin: 0 auto;
}
.navbar-default{
    background-color: #667292;
    border-radius: 0;
    padding: 0;
    margin: 0;
    border: 1px solid #454140;
    border-left: none;
    border-right: none;
}
.navbar-default .navbar-nav > li > a{
    color: #ffffff;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}
#services{
    background-color: #cfe0e8;
    padding: 0 170px;
}
#about-us{
    background-color: #f0f0f0;
    padding: 0 170px;
}
#members{
    /*background-color: #cccccc;*/
    padding: 0 170px;
}
#members img{
    width: 35%;
    height: 85px;
    border-radius: 26px
}
#statistics{
    background-color: #ccdddd;
    padding: 0 170px;
}
.contact-us{
    background-color: #484f4f;
    color: #ffffff;
    padding: 0 170px;
}